/* New Color Palette
#313b3f   rgb(49,59,63)    black-blue
#25aae1:  rgb(37,170,225)  blue
#eff3f6:  rgb(239,243,246) off white
#fcdb42:  rgb(252,219,66)  yellow
#e26e60:  rgb(226,110,96)  orange-red
*/

$black:  #313b3f;
$blue:   #25aae1;
$white:  #eff3f6;
$yellow: #fcdb42;
$orange: #e26e60;